.staffroom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
}

.staffroom__students__box{
    cursor: pointer;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    color: rgb(216, 216, 216);
    height: 60px;
    padding: 8px;
    margin: 10px 10px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid rgb(90, 90, 90);
}
.staffroom__students__name > h3{
    font-weight: 400;
}
.staffroom__students__info{
    margin-left: 10px;
}
.staffroom__students__info > h4{
    font-weight: 400;
    color: rgb(190, 190, 190);
}

.auth{
    width: 100%;
    margin: 40px auto;
    font-family: sans-serif;
    text-align: center;
}
.auth > h1{
    color:rgb(202, 125, 125);
}
.auth > h2{
    color: rgb(190, 190, 190);

}
.auth > input{
    width: 280px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding-left:15px;
    font-size: 15px;
    margin-top:15px;
}
.auth > button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 15px;
    outline: none;
    color:#fff;
    border: none;
    background-color: rgb(95, 95, 95);
}
.auth > h3{
    color: rgb(233, 34, 34);
    margin-top: 10px;
}